* {
    box-sizing: border-box;
    border: solid red
}

body {
    margin: 0;
}

.prodct__info{
    width: 370px;
}

.product_image {
    background-image: url(images/image-product-mobile.jpg);
    background-size: cover;
    height: 300px;
    border-radius: 16px 16px 0px 0px;

}

.produt_price {
    display:flex;
    align-items: center;
    gap:1rem;
}

.produt__info {
    padding: 1rem;
}

.pricie {
    font-size: 2rem;
}
