@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@600&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,600;1,500&family=Montserrat:wght@700&display=swap');

:root 

* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
}

.prodct__info {
    width: 370px;
    font-family: 'Montserrat', sans-serif;
}

.product_type {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.product_image {
    background-image: url(images/image-product-mobile.jpg);
    background-size: cover;
    height: 300px;
    border-radius: 16px 16px 0px 0px;

}

.produt_price .offer{
    text-decoration:line-through
}

.produt_price {
    display:flex;
    align-items: center;
    gap:1rem;
}

.produt__info {
    padding: 1rem;
    font-family: 'Fraunces', serif;
}

.pricie {
    font-size: 2rem;
}

.description{
    line-height: 1.5rem;
}

.produt__info .product_type, .description, .produt_price .offer{
    color: #a9a9b2;
}

.produt_price .pricie {
    color: #3d8168;
    font-family: 'Fraunces', serif;
}

.button_buy {
    background-color: #3d8168;
    border-radius: 15px;
    font-size: 15px;
}

